/** 
* @author: Alexander Chi
* @description:
* @date: 01/Septiembre/2021
**/ 
/** Primary **/
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);

/** Neutral **/
$darkGray: hsl(0, 0%, 59%); 